<%- include("partials/loginHeader"); -%>

<div class="jumbotron centered">
  <h1 class="display-4 heading "><em>Knowledge Share</em></h1>
  <p class="lead"></p>
  <hr class="my-4">
  <h4>We will collect your book from given address within 4-5 days..</h4>
  <h5>Want to add new or used book and earn money</h5>
  <h6>Then click on the below botton</h6>
  <a class="btn btn-dark btn-lg main-button" href="/sellBook" role="button">Add Another Book
    <i class="fa fa-plus-square" aria-hidden="true"></i>
  </a>
  <a href="/dashboard">
    <button type="Button" class="btn btn-warning  btn-lg main-button">Go to Home 
      <i class="fa fa-home" aria-hidden="true"></i>
    </button>
  </a>

</div>