<%- include('partials/loginHeader') -%>


<div class="jumbotron centered">
    <h1 class="display-4 heading"><em><i class="fa fa-check btn-success" aria-hidden="true" style="border-radius: 50%;"></i>
    CONGRATULATION</em></h1>
    <h5>Your Order has been Successfully placed</h5>
    <hr class="my-4">
    <p class="lead"> Your Product Will be dilivered to you within 4-5 days <i class="fa fa-smile" aria-hidden="true"></i>
    </p>    
    <a class="btn btn-dark btn-lg main-button" href="/dashboard" role="button">Continue your Shopping</a>
  </div>