<%- include("partials/loginHeader"); -%>

<body class="text-center">
    <form class="form-signin" action="/users/login" method="POST">
        <img class="mb-4" src="/images/mainpage/logo.png" alt="" width="72" height="72">

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <% include ./partials/messages %>

        <label for="email" class="sr-only"></label>

        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>

        <label for="password" class="sr-only"></label>

        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
        
        <button type="submit" class="btn btn-block user-button">Login</button>
        <p class="lead mt-4">
            No Account? <a href="/users/register">Register</a>
        </p>
    </form>
</body>
</html>
