<%- include("partials/loginHeader"); -%>

<div class="jumbotron centered">
  <h1 class="display-4 heading "><em>Hello,Welcome to Bookstore</em></h1>
  <p class="lead"></p>
  <hr class="my-4">
  <h5>To Explore the Website please login/Register yourself here.</h5>
  <a class="btn btn-dark btn-lg main-button" href="/users/register" role="button">Register</a>
  <a class="btn btn-outline-dark btn-lg main-button" href="/users/login" role="button">Login</a>
</div>