html,
body {
  width: 100%;
}

body {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  width: 100%;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="name"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-radius: 0;
}

#password2{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.user-button{
  margin-bottom: 20px;
  margin-top: 20px;
  color:#000;
  border-color:#152a40 ;
  background-color: #f5f5f5;
  border-width: 3px;
  font-weight: bold;

}

.user-button:hover{
  background-color: #152a40;
  border-color: #152a40;
  color:#fff;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.centered{
  width: 100%;
  padding:100px 0 ;
  text-align: center;
}

.centered .heading{
  font-weight: bold;
}

.centered .main-button{
  margin-top: 70px;
  margin-right: 20px;
}


/* shoppig cart  */

.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
  display: inline !important;
}
.actions .btn{
  width:36%;
  margin:1.5em 0;
}

.actions .btn-info{
  float:left;
}
.actions .btn-danger{
  float:right;
}

table#cart thead { display: none; }
table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
table#cart tbody tr td:first-child { background: #333; color: #fff; }
table#cart tbody td:before {
  content: attr(data-th); font-weight: bold;
  display: inline-block; width: 8rem;
}



table#cart tfoot td{display:block; }
table#cart tfoot td .btn{display:block;}

}

.heading{
  margin-bottom: 50px;
}
/* checkout */

.checkout-container{
  width: 100%;
  padding:20px;
  margin-left: 27rem;
  text-align: center;
}
.span1{

	  width:70px;
    height:6px;
    background: red;
    display: block;
    margin-top: 10px;
    margin-left: 165px;
}
.checkout{

  margin-top: 30px;
}
.checkout .labels{
  float: left;
}



/* wishlist */


.cart-wrap {
	padding: 40px 0;
	font-family: 'Open Sans', sans-serif;
}
.main-heading {
	font-size: 19px;
	margin-bottom: 20px;
}
.table-wishlist table {
    width: 100%;
}
.table-wishlist thead {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.table-wishlist thead tr th {
    padding: 8px 0 18px;
    color: #484848;
    font-size: 15px;
    font-weight: 400;
}
.table-wishlist tr td {
    padding: 25px 0;
    vertical-align: middle;
}
.table-wishlist tr td .img-product {
    width: 72px;
    float: left;
    margin-left: 8px;
    margin-right: 31px;
    line-height: 63px;
}
.table-wishlist tr td .img-product img {
	width: 100%;
}
.table-wishlist tr td .name-product {
    font-size: 15px;
    color: #484848;
    padding-top: 8px;
    line-height: 24px;
    width: 50%;
}
.table-wishlist tr td.price {
    font-weight: 600;
}
.table-wishlist tr td .quanlity {
    position: relative;
}

.total {
	font-size: 24px;
	font-weight: 600;
	color: #8660e9;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.round-black-btn {
	border-radius: 25px;
    background: #212529;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    font-size: 14px;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.d-block {
    display: block;
}
.custom-form label {
    font-size: 14px;
    line-height: 14px;
}
.pretty.p-default {
    margin-bottom: 15px;
}
.pretty input:checked~.state.p-primary-o label:before, 
.pretty.p-toggle .state.p-primary-o label:before {
    border-color: #8660e9;
}
.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
    background-color: #8660e9 !important;
}
.main-heading.border-b {
    border-bottom: solid 1px #ededed;
    padding-bottom: 15px;
    margin-bottom: 20px !important;
}
.custom-form .pretty .state label {
    padding-left: 6px;
}
.custom-form .pretty .state label:before {
    top: 1px;
}
.custom-form .pretty .state label:after {
    top: 1px;
}
.custom-form .form-control {
    font-size: 14px;
    height: 38px;
}
.custom-form .form-control:focus {
    box-shadow: none;
}
.custom-form textarea.form-control {
    height: auto;
}
.mt-40 {
    margin-top: 40px !important; 
}
.in-stock-box {
	background: #ff0000;
	font-size: 12px;
	text-align: center;
	border-radius: 25px;
	padding: 4px 15px;
	display: inline-block;  
    color: #fff;
}

/* sell book page */


.span2{

  width:70px;
  height:6px;
  background: rgb(99, 18, 53);;
  display: block;
  margin-top: 10px;
}

.button2{
  padding:10px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}
